obj
Temp
*.suo
*.user
*.pidb
*.userprefs
Unity/Library/cache
Unity/Library/metadata
Unity/Library/previews
Unity/Library/ScriptAssemblies
Unity/Library/assetDatabase3
Unity/Library/AssetImportState
Unity/Library/assetservercachev3
Unity/Library/AssetServerCacheV3
Unity/Library/AssetVersioning.db
Unity/Library/AudioManager.asset
Unity/Library/BuildPlayer.prefs
Unity/Library/BuildSettings.asset
Unity/Library/DynamicsManager.asset
Unity/Library/EditorSettings.asset
Unity/Library/EditorUserBuildSettings.asset
Unity/Library/expandedItems
Unity/Library/FailedAssetImports.txt
Unity/Library/guidmapper
Unity/Library/InspectorExpandedItems.asset
Unity/Library/MonoManager.asset
Unity/Library/NetworkManager.asset
Unity/Library/ScriptMapper
Unity/Assets/Gizmos
Unity/Assets/PlayMaker
Unity/Assets/Photon Unity Networking
Unity/Assets/Meshes
Unity/Assets/iTween
*.csproj
*.sln
*.orig
